In [1]:
import os
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import hashlib
import sklearn as sk
import os
import time
import datetime
import math


mud = pd.read_csv(r'/Users/lszczyrba/Project_3.6.3/HelloWorld/Irma_Sediment/IrmaMudThicknessDistances.csv', header = [0])
mud.info()
mud.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 14 columns):
Region                      127 non-null object
Site                        127 non-null object
Station                     127 non-null object
Date 1                      118 non-null object
Date 2                      107 non-null object
Thickness at Date 1 (cm)    117 non-null object
Thickness at Date 2 (cm)    92 non-null float64
Thickness at Date 3 (cm)    120 non-null object
Lat                         101 non-null float64
Lon                         101 non-null float64
water_lat                   101 non-null float64
water_lon                   101 non-null float64
Notes                       14 non-null object
Unnamed: 13                 1 non-null object
dtypes: float64(5), object(9)
memory usage: 14.3+ KB

,Region,Site,Station,Date 1,Date 2,Thickness at Date 1 (cm),Thickness at Date 2 (cm),Thickness at Date 3 (cm),Lat,Lon,water_lat,water_lon,Notes,Unnamed: 13
0,TTI,CCB,CC1 S1,12/20/2017,1/28/2018,0,0.0,0,26.02238,-81.73427,26.021769,-81.734467,NaN,NaN
1,TTI,CCB,CC1 S2,12/20/2017,NaN,0,NaN,0,26.02240,-81.73423,26.021769,-81.734467,NaN,NaN
2,TTI,CCB,CC1 S3,12/20/2017,NaN,0,NaN,0,26.02230,-81.73427,26.021769,-81.734467,NaN,NaN
3,TTI,CCB,CC1 S4,12/20/2017,NaN,40,NaN,NaN,26.02232,-81.73418,26.021769,-81.734467,NaN,NaN
4,TTI,CCB,CC2 S1,12/20/2017,1/28/2018,0,0.0,0,26.02202,-81.73415,26.021769,-81.734467,NaN,NaN

In [2]:
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(math.radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))
    km = 6367 * c
    return (km * 1000)

In [3]:
site_lat = mud['Lat']
site_lon = mud['Lon']
ocean_lat = mud['water_lat']
ocean_lon = mud['water_lon']

In [4]:
distance = []
for i in range(len(site_lat)):
    dist = haversine(site_lon[i], site_lat[i], ocean_lon[i], ocean_lat[i])
    distance.append(dist)
dist = pd.DataFrame({'Distance': distance})

In [6]:
mud.info()
mud.head()
mud['Site'][12]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 14 columns):
Region                      127 non-null object
Site                        127 non-null object
Station                     127 non-null object
Date 1                      118 non-null object
Date 2                      107 non-null object
Thickness at Date 1 (cm)    117 non-null object
Thickness at Date 2 (cm)    92 non-null float64
Thickness at Date 3 (cm)    120 non-null object
Lat                         101 non-null float64
Lon                         101 non-null float64
water_lat                   101 non-null float64
water_lon                   101 non-null float64
Notes                       14 non-null object
Unnamed: 13                 1 non-null object
dtypes: float64(5), object(9)
memory usage: 14.3+ KB

'BW2'

ModuleNotFoundError: No module named 'mud_machine_learning'

# Rename the columns!!!

In [ ]:
df.insert(0,'ID', range(0,len(df)))
df

df.set_index('ID')

df['Date1'] = pd.to_datetime(df['Date1'])
df['Date2'] = pd.to_datetime(df['Date2'])
df['Date3'] = pd.to_datetime(df['Date3'])
print(type(df['Date1'][1]))
df.head()

no_null = df.dropna()
df = no_null

df = df[df['ThicknessD1cm'] != 0]

df = df[df.Notes == 1]
df = df.drop(['Notes'], axis=1)

df.ThicknessD3cm.replace([20], [1], inplace=True)
df.info()
df.head()